# for loop:

In [ ]:
fruits=['apple','banana','cherry','date','cherry']
for i in fruits:
    print(i)

apple
banana
cherry
date
cherry

In [8]:
fruits=['apple','banana','cherry','date','cherry']
for i in fruits:
 print(i,end=" ")

apple banana cherry date cherry

In [10]:
for x in range(1,6):
    print(x)

1
2
3
4
5

In [12]:
for x in range(5):
    print(x)

0
1
2
3
4

In [15]:
for i in range(1,21,2):#(star range, end range, gap range)
    print(i)

1
3
5
7
9
11
13
15
17
19

In [16]:
for i in range(0,21,2):#(star range, end range, gap range)
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [21]:
# print your name 5 times 
for i in range(5):
    print("muskan")

muskan
muskan
muskan
muskan
muskan

In [31]:
#Print odd numbers from 1 to 20 using condition statement not gap
for i in range(1,20):
    if i%2!=0:
        print(i,end="")

135791113151719

In [34]:
# print even number from 1 to 20 using gap
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

# while loop:

In [36]:
x=0
while x<5:
    print(x)
    x+=1

0
1
2
3
4

In [42]:
#print your name 5 times using while loop:
x=0
while x<5:
    print("muskan")
    x+=1

muskan
muskan
muskan
muskan
muskan

In [49]:
# print odd numbers 1 to 20 using condition statement not gap using while loop:
x=1
while x<=20:
    if x%2 !=0:
        print(x,end="")
    x +=1

135791113151719

In [53]:
#print even numbers 1 to 21 using condition statemet using gap
x=0
while x<=20:
    if x%2==0:
        print(x)
    x+=1

0
2
4
6
8
10
12
14
16
18
20

# break and continue:

# 1: Break:

In [54]:
fruits=['apple','banana','cherry','date','cherry']
for i in fruits:
    if i=='cherry':
        break
    print(i,end=" ")

apple banana

In [55]:
num=[1,2,3,4,5,6,7,8,9,10]
for i in num:
    if i ==5:
        break
    print(i)

1
2
3
4

# continue:

In [56]:
num=[1,2,3,4,5,6,7,8,9,10]
for i in num:
    if i ==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
#check whether a number is even or odd
num=int(input("enter a number"))
if num%2==0:
    print("even")
else:
    print("odd")

In [ ]:
#check whether two sides of a rectangle is equal or not
len=float(input("enter a vlue"))

In [ ]:
# check whether a triangle is an equilateral triangle or iscoceles triangle

In [ ]:
# check whether a character enterd by user is vowel or not

In [ ]:
# calculate the gross salary of an employee where the basic salary is 50000,DAis 5%of basic salary and HRA is 10% of basic salary