In [18]:
student = {"name":'muskan', "rollno.":'24', "marks":'85'}
print(student)

{'name': 'muskan', 'rollno.': '24', 'marks': '85'}

In [19]:
# how to declare it 
# how to access key vlaue and pairs
# how to use loops in dictionary
# indexing in dictionary

In [20]:
temp= {
    'lucknow' : [30,40,42],
    'delhi' : [32,42,36],
    'mumbai': [40,32,24]

}
print(temp)

{'lucknow': [30, 40, 42], 'delhi': [32, 42, 36], 'mumbai': [40, 32, 24]}

In [21]:
info= dict( name= "john", age="24", grade="12th")
print(info)

{'name': 'john', 'age': '24', 'grade': '12th'}

In [22]:
# 2.accessing method
#1st method to access vlue through key
print(info['age'])
#2nd mthod 
print(info.get('grade'))

24
12th

In [23]:
# to add new key-vlaue pair
student['city']='new yark'
print(student)

{'name': 'muskan', 'rollno.': '24', 'marks': '85', 'city': 'new yark'}

In [24]:
info['father']='ramesh'
print(info)

{'name': 'john', 'age': '24', 'grade': '12th', 'father': 'ramesh'}

In [25]:
# to delete a key vlaue pair
del student['marks']
print(student)

{'name': 'muskan', 'rollno.': '24', 'city': 'new yark'}

In [27]:
student2= {
    "name":['john', 'deo', 'smith'],
    "age":[20, 30 ,40],
}
print(student2)

{'name': ['john', 'deo', 'smith'], 'age': [20, 30, 40]}

In [ ]:
student2['name'].append('Alice') 
print(student2)

{'name': ['john', 'deo', 'smith', 'Alice', 'Alice', 'Alice'], 'age': [20, 30, 40]}

In [32]:
 student2['age'].insert(2,'50')
print(student2)

IndentationError: unexpected indent (128934308.py, line 1)

In [34]:
print(student.values())

dict_values(['muskan', '24', 'new yark'])

In [35]:
print(student.items())

dict_items([('name', 'muskan'), ('rollno.', '24'), ('city', 'new yark')])

In [36]:
for k in student:
    print(k)

name
rollno.
city

In [37]:
for k,v in info.items():
    print(f"{k} : {v}")

name : john
age : 24
grade : 12th
father : ramesh

In [39]:
#EX 
a=10
b=20
sum= a+b
print("sum of ",a, "and",b, "is",sum)
print(f"sum of {a} and {b} is {sum}")

sum of  10 and 20 is 30
sum of 10 and 20 is 30

# Nested dict

In [40]:
company={
    "emp01":{"name": "alice", "age": 30, "department": "HR"},
    "emp02":{ "name":"bob", "age": 25, "department":"IT"},
    "emp03":{"name": "charli", "age":22,"department":"finance"},
}
print(company)

{'emp01': {'name': 'alice', 'age': 30, 'department': 'HR'}, 'emp02': {'name': 'bob', 'age': 25, 'department': 'IT'}, 'emp03': {'name': 'charli', 'age': 22, 'department': 'finance'}}

In [ ]:
from pprint import pprint  # this is import statment use for orgnaisetion:
pprint(company)

{'emp01': {'age': 30, 'department': 'HR', 'name': 'alice'},
 'emp02': {'age': 25, 'department': 'IT', 'name': 'bob'},
 'emp03': {'age': 22, 'department': 'finance', 'name': 'charli'}}

In [42]:
company['emp02']['department']

'IT'

In [ ]:
# calculate the average temperature of lucknow:
tem={
    
}